.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
    padding: 10px;
    border-radius: 24px;
    border: 3px solid #CCA722;
    background-color: white;
    min-height: 400px;
}

.card_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card_btn {
    padding: 5px;
    border-radius: 10px;
    border: 3px solid #EACEB4;
    background-color: #BB5A5A;
    color: #EACEB4;
    width: 125px;
    height: 40px;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 30px;
}

img {
    width: 200px;
    height: auto;
    max-height: 200px;
    border-radius: 5px;
}

p {
    width: 200px;
    text-wrap: wrap;
    color: black;
}

.card_btn:hover {
    transform: scale(1.1);
    border: 3px solid #BB5A5A;
    background-color: #EACEB4;
    color: #BB5A5A;
}