@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
.formcontainer {
    display: flex;
    flex-direction: column;
    background-color: #FFAD84;
    border-radius: 10px;
    padding: 15px;
    color: #FFF78A;
    border-color: #FFE382;
}

h2 {
    text-align: center;
    font-family: 'Roboto';
    margin: 5px;
    padding: 5px;
}

input {
    margin: 5px;
    width: 450px;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;

}

.formButton {
    margin: 5px;
    width: 464px;
    height: 35px;
    border-radius: 10px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 5px;
    padding: 5px;
    font-family: 'Roboto';
}